<p>I hope you enjoy this application!</p>

<p>Note: I used an HTTParty request to retrieve the movie data from the moviedb. HTTParty made it really easy to send a request to the moviedb's api and retireve a json result.</p>
