
<div class="panel panel-default">
  <div class="panel-body">
    <p>I hope you enjoy this application!</p>

    <p>Note: I used an HTTParty request to retrieve the movie data from The Movie DB. HTTParty made it really easy to send a request to The Movie DB's API and retrieve a JSON result.</p>

    <p>Also, I used RSpec as my test suite.</p>

    <p>Thanks for taking the time to check out my application!</p>

  </div>

</div>
